{% extends 'bdbk/BasePage.html' %}
{% load static %}

{% comment 'context dicts' %}
nepk = 12345

namedentity = {
'ne_title': '...',
'ne_search_term': '...',
'ne_last_modified': '...',
'ne_bdbk_url': '...',
'ne_infobox': [{'verb': '...', 'content': '...'}, ...]
'ne_cats': '...'
}

// note: "content" field of infobox is marked "safe" and should be
// escaped properly in views.

randomnes = {
[{'ne_title': '...', 'ne_url': '...'}]
}

status = {
'ne_count': integer,
'infoboxtuple_count': integer,
'verb_count': integer,
'db_version': str
}
{% endcomment %}


<!-- template content starts -->
{% block page_title %}Infobox - {{namedentity.ne_title}}{% endblock %}
{% block page_brand %}Infobox Viewer{% endblock %}
{% block page_brand_href %}{% url 'ShowTuplesForNamedEntity' 'random' %}{% endblock %}
{% block page_content %}

<h1>“{{namedentity.ne_title}}”的三元组数据</h1>

<p class="lead">
  Extracted from <a target="_blank" href="{{namedentity.ne_bdbk_url}}">{{namedentity.ne_bdbk_url}}</a>
</p>

<p><span class="glyphicon glyphicon-time"></span> Last updated on {{namedentity.ne_last_modified}}</p>
<p>开放类别：{{namedentity.ne_cats}}</p>

<hr>

<div id="svg-container" class="text-center">
</div>
<hr>
<table class="table table-striped">
  <thead>
    <td class="col-md-2"><b>谓词</b></td>
    <td class="col-md-10"><b>属性值</b></td>
  </thead>
  <tbody>
    {% for tuple in namedentity.ne_infobox %}
    <tr>
      <td>{{tuple.verb}}</td>
      <td>{{tuple.content|safe}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block sidebar_content %}

<div class="well">
  <h4>建议</h4>
  <div class="row">
    <div class="col-lg-12">
      <ul class="list">
        {% for randomed in randomnes %}
        <li><a href="{{randomed.ne_url}}">{{randomed.ne_title}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<div class="well">
  <h4>数据统计</h4>
  <ul class="list">
    <li>命名实体总数：{{ status.ne_count }}</li>
    <li>谓词总数： {{ status.verb_count }}</li>
    <li>三元组总数： {{ status.infoboxtuple_count }}</li>
    <li>数据库版本：{{ status.db_version }}</li>
  </ul>
</div>

{% endblock %}


{% block extra_css %}
<style>
  svg{
    opacity: 0;
    border: 1px solid;
    border-color: black;
  }
  .link {
      stroke: #ccc;
  }

  .node text {
//      pointer-events: none;
      font: 10px sans-serif;
  }

  .circle {
      stroke: #fff;
      stroke-width: 1.5px;
  }

  .node text{
      font: 10px sans-serif;
      cursor: pointer;
  }
</style>
{% endblock %}


{% block extra_js %}
<script type="text/javascript">
  var data_url = "{% url 'namedEntityLinks' nepk %}";
</script>
<script type="text/javascript" src="{% static 'bdbk/js/d3-3.5.6.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bdbk/js/showGraph.js' %}"></script>
{% endblock %}
